* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/BeerFlight-400x300.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  font-stretch: 100%;
}

h1 {
  font-family: 'Whisper', cursive;
  color: black;
  font-weight: 700;
}

#container {
  overflow: auto; 
  height: 400px;
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}