*{
    padding: 0;
    margin: 0;
    background-image: url('../img/BeerFlight-400x300.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
 }


body {
       
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-stretch: 100%;
 
}
h1 {
    padding: 50px;
    border: 35px;
    font-size: 130px;
    font-weight: 700;
    font-family:'Cinzel', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Whisper', cursive;
    
}
h3 {
  
    font-family: 'Kanit', sans-serif;
    font-size: medium;
    
}
button {
    cursor: pointer;
}

#search-input {
    font-size: 15px; /* Adjust the size the input box */
    color: azure;
}
footer{
    text-align: center;
    padding: 25px;
}



